@using MvcStok.Models.Entity
@model List<TblUrunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Urun ID</th>
            <th>Urun Adı</th>
            <th>Marka</th>
            <th>Urun Kategori</th>
            <th>Fiyat</th>
            <th>Stok</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in   Model)
        {
            <tr>
                <th>
                    @item.UrunID
                </th>
                <td>
                    @item.UrunAdi
                </td>
                <td>
                    @item.Marka
                </td>
                <td>
                    @item.TblKategoriler.KategoriAd
                </td>
                <td>
                    @item.Fiyat
                </td>
                <td>
                    @item.Stok
                </td>
                <td><a href="/Urun/Sil/@item.UrunID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Urun/UrunGetir/@item.UrunID" class="btn btn-primary">Güncelle</a></td>


            </tr>
        }

    </tbody>
</table>


<a href="/Urun/YeniUrunEkle/" class="btn btn-success">Yeni Urun Ekle</a>


<script type="text/javascript" src="cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable();
</script>